<!-- DO NOT REMOVE THE PLACEHOLDERS. THEY WILL BE REPLACED BY SCHEMATICS -->
<project>

    <properties>
        <frontend.maven.plugin.version>1.12.1</frontend.maven.plugin.version>
        <frontend.maven.plugin.install.directory>${project.build.directory}</frontend.maven.plugin.install.directory>
        <frontend.working.directory>${project.basedir}</frontend.working.directory>
        <frontend.node.version><%= props.nodeVersion %></frontend.node.version>
        <% if(props.packageManagerVersion) { %><frontend.<%= props.packageManager %>.version><%= props.packageManagerVersion %></frontend.<%= props.packageManager %>.version><% } %>
        <frontend.cmd.install>install</frontend.cmd.install>
        <frontend.cmd.build><%= props.buildCommand %></frontend.cmd.build>
        <frontend.cmd.watch.prepare><%= props.watchPrepareCommand %></frontend.cmd.build>
        <frontend.build.mode>production</frontend.build.mode>
    </properties>

    <build>
        <plugins>
            <plugin>
                <!-- Install frontend modules and dependencies -->
                <groupId>com.github.eirslett</groupId>
                <artifactId>frontend-maven-plugin</artifactId>
                <version>${frontend.maven.plugin.version}</version>
                <configuration>
                    <nodeVersion>${frontend.node.version}</nodeVersion>
                    <% if(props.packageManagerVersion) { %><<%= props.packageManager %>Version>${frontend.<%= props.packageManager %>.version}</<%= props.packageManager %>Version><% } %>
                    <installDirectory>${frontend.maven.plugin.install.directory}</installDirectory>
                    <workingDirectory>${frontend.working.directory}</workingDirectory>
                    <environmentVariables>
                        <NODE_ENV>${frontend.build.mode}</NODE_ENV>
                    </environmentVariables>
                </configuration>
                <executions>
                    <execution>
                        <id>step-1-install-node-and-<%= props.packageManager %></id>
                        <phase>process-resources</phase>
                        <goals>
                            <goal>install-node-and-<%= props.packageManager %></goal>
                        </goals>
                    </execution>
                    <execution>
                        <id>step-2-install-dependencies</id>
                        <phase>process-resources</phase>
                        <goals>
                            <goal><%= props.packageManager %></goal>
                        </goals>
                        <configuration>
                            <arguments>${frontend.cmd.install}</arguments>
                            <environmentVariables>
                                <NODE_ENV>development</NODE_ENV>
                            </environmentVariables>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>

    <profiles>
        <profile>
            <id>build-mode-is-set-by-node-env</id>
            <activation>
                <property>
                    <name>env.NODE_ENV</name>
                </property>
            </activation>
            <properties>
                <frontend.build.mode>${env.NODE_ENV}</frontend.build.mode>
            </properties>
        </profile>

        <profile>
            <id>build</id>
            <activation>
                <property>
                    <name>!watchMode</name>
                </property>
            </activation>
            <build>
                <plugins>
                    <plugin>
                        <groupId>com.github.eirslett</groupId>
                        <artifactId>frontend-maven-plugin</artifactId>
                        <configuration>
                            <installDirectory>${frontend.maven.plugin.install.directory}</installDirectory>
                            <workingDirectory>${frontend.working.directory}</workingDirectory>
                        </configuration>
                        <executions>
                            <execution>
                                <id>step-3-build-frontend</id>
                                <phase>process-resources</phase>
                                <goals>
                                    <goal><%= props.packageManager %></goal>
                                </goals>
                                <configuration>
                                    <arguments>${frontend.cmd.build}</arguments>
                                </configuration>
                            </execution>
                        </executions>
                    </plugin>
                </plugins>
            </build>
        </profile>

        <profile>
            <id>watch-prepare</id>
            <activation>
                <property>
                    <name>watchMode</name>
                </property>
            </activation>
            <build>
                <plugins>
                    <plugin>
                        <groupId>com.github.eirslett</groupId>
                        <artifactId>frontend-maven-plugin</artifactId>
                        <configuration>
                            <installDirectory>${frontend.maven.plugin.install.directory}</installDirectory>
                            <workingDirectory>${frontend.working.directory}</workingDirectory>
                        </configuration>
                        <executions>
                            <execution>
                                <id>step-3-watch-prepare-frontend</id>
                                <phase>process-resources</phase>
                                <goals>
                                    <goal><%= props.packageManager %></goal>
                                </goals>
                                <configuration>
                                    <arguments>${frontend.cmd.watch.prepare}</arguments>
                                </configuration>
                            </execution>
                        </executions>
                    </plugin>
                </plugins>
            </build>
        </profile>
    </profiles>

</project>
